#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <property name="appName" value="${artifactId}"/>
    <include resource="com/giants/boot/logging/logback/timeout-appender.xml"/>
</configuration>